{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Predicciones Inmobiliarias{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'estateAgency/css/styles.css' %}">
</head>

<body>

<div id="scraping-popup" style="display:none;">
    Actualizando viviendas en la base de datos...
    Algunas funciones pueden estar limitadas.
</div>


<header>
  <h1>Predicciones Inmobiliarias</h1>
</header>

{% block content %}
{% endblock %}

<footer>
  <p>© 2026 Predicciones Inmobiliarias</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'estateAgency/js/script.js' %}"></script>
</body>
</html>
