<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prediocciones inmobiliarias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estateAgency/css/styles.css' %}">
</head>

<body>

<header>
  <h1>Predicciones Inmobiliarias</h1>
</header>

<section class="hero">
  <h2>Encuentra el mejor momento para invertir</h2>

 <div class="search-box">
  <select id="type">
    <option value="compra">Compra</option>
    <option value="larga">Alquiler larga estancia</option>
    <option value="temporal">Alquiler de temporada</option>
  </select>

  <input type="text" id="city" placeholder="Ciudad...">
  <button type="submit" onclick="predict()">Analizar</button>
</div>

  <div class="prediction" id="result"> </div>
</section>

<!-- COMPRA -->
<section class="section">
  <h2>Compra</h2>
  <div class="cards">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994">
      <div class="card-content">
        <h3>Inversión urbana</h3>
        <p>Alta revalorización prevista en zonas céntricas.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be">
      <div class="card-content">
        <h3>Vivienda familiar</h3>
        <p>Estabilidad de precios con tendencia moderada.</p>
      </div>
    </div>
  </div>
</section>

<!-- LARGA ESTANCIA -->
<section class="section">
  <h2>Alquiler de larga estancia</h2>
  <div class="cards">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1494526585095-c41746248156">
      <div class="card-content">
        <h3>Alta demanda</h3>
        <p>Incremento constante en ciudades principales.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1507089947368-19c1da9775ae">
      <div class="card-content">
        <h3>Rentabilidad</h3>
        <p>Buen retorno para inversores a medio plazo.</p>
      </div>
    </div>
  </div>
</section>

<!-- TEMPORADA -->
<section class="section">
  <h2>Alquiler de temporada</h2>
  <div class="cards">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85">
      <div class="card-content">
        <h3>Zonas turísticas</h3>
        <p>Alta rentabilidad en verano e invierno.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5">
      <!--<img src="{% static 'estateAgency/img/nombreimagen.jpg' %}">-->
      <div class="card-content">
        <h3>Oportunidades</h3>
        <p>Crecimiento fuerte en destinos emergentes.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>© 2026 Predicciones Inmobiliarias</p>
</footer>

</html>        
  <link rel="stylesheet" href="styles.css">
</head>
    <script src="{% static 'estateAgency/js/script.js' %}"></script>
</body>
</html>